{% extends "base.html" %}
{% block content %}

<h2>Edit Category</h2>

<form method="POST">
    <input type="text" name="name" value="{{ category.name }}" required>
    <input
        type="number"
        step="0.01"
        name="budget_amount"
        placeholder="Budget Amount"
        value="{{ category.budget_amount if category.budget_amount is not none else '' }}"
    >
    <input type="submit" value="Save">
</form>

<a href="{{ url_for('index') }}">Back</a>

{% endblock %}

